/*

	Style.css
		  -------Alexander's

*/

body {
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-size: 13px;
	font-weight: 400;
	line-height: 25px;
	color: #777;
}

p {
	margin-bottom: 25px;
}

/* Minified css in demo only */
h1,h2,h3,h4,h5,h6{
	margin-bottom:25px
}

.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{
	font-weight:400;
	color:#111
}

.h1,h1{
	font-size:36px;
	line-height:1.5em
}

.h2,h2{
	font-size:30px;
	line-height:1.5em
}

.h3,h3{
	font-size:24px;
	line-height:1.5em
}

.h4,h4{
	font-size:20px;
	line-height:25px
}

.h5,h5{
	font-size:16px;
	line-height:25px
}

.h6,h6{
	font-size:13px;
	line-height:25px
}

.bigtext h1,.bigtext h2,.bigtext h3,.bigtext h4,.bigtext h5,.bigtext h6,h1.bigtext,h2.bigtext,h3.bigtext,h4.bigtext,h5.bigtext,h6.bigtext{
	margin-bottom:10px
}

.bigtext h1,h1.bigtext{
	font-size:90px;
	line-height:1em
}

.bigtext h2,h2.bigtext{
	font-size:75px;
	line-height:1em
}

.bigtext h3,h3.bigtext{
	font-size:60px;
	line-height:1em
}

.bigtext h4,h4.bigtext{
	font-size:48px;
	line-height:1.25em
}

.bigtext h5,h5.bigtext{
	font-size:36px;
	line-height:1.25em
}

.bigtext h6,h6.bigtext{
	font-size:24px;
	line-height:1.5em
}

@media only screen and (max-width:767px){
	.bigtext h1,h1.bigtext{
		font-size:60px
	}

	.bigtext h2,h2.bigtext{
		font-size:48px
	}

	.bigtext h3,h3.bigtext{
		font-size:36px
	}

	.bigtext h4,h4.bigtext{
		font-size:30px
	}

	.bigtext h5,h5.bigtext{
		font-size:24px
	}

	.bigtext h6,h6.bigtext{
		font-size:18px
	}

}

@media only screen and (max-width:479px){
	.bigtext h1,h1.bigtext{
		font-size:36px
	}

	.bigtext h2,h2.bigtext{
		font-size:30px
	}

	.bigtext h3,h3.bigtext{
		font-size:24px
	}

	.bigtext h4,h4.bigtext{
		font-size:18px
	}

	.bigtext h5,h5.bigtext{
		font-size:16px
	}

	.bigtext h6,h6.bigtext{
		font-size:14px
	}

}

a{
	color:inherit;
	text-decoration:none
}

a:hover{
	color:#111
}

a,a i,a i:hover,a:hover,button,button:hover,input[type=submit],input[type=submit]:hover{
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}

i{
	cursor:default
}

a i{
	cursor:pointer
}

.ol{
	list-style-type:decimal-leading-zero;
	list-style-position:outside;
	margin-left:2em;
	margin-bottom:25px
}

.ol ol,.ul ol{
	list-style-type:decimal-leading-zero;
	list-style-position:outside
}

.ul{
	list-style-type:disc;
	list-style-position:outside;
	margin-left:1em;
	margin-bottom:25px
}

.ol ul,.ul ul{
	list-style-type:disc;
	list-style-position:outside
}

.ol ol,.ol ul,.ul ol,.ul ul{
	margin-left:2em
}

.italic,em{
	font-style:italic
}

.bold,b,strong{
	font-weight:600
}

.thin{
	font-weight:300
}

.x-thin{
	font-weight:100
}

.serif{
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-style:italic;
	font-weight:400;
	letter-spacing:0;
	text-transform:none
}

.uber{
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-style:normal;
	font-weight:700;
	letter-spacing:.08em;
	text-transform:uppercase
}

/*---等待加载网页 动画效果---*/
.windows8 {margin: 15% auto;position: relative;text-align: center;}
.loading-place {width: 100%;height: 100%;top: 0;right: 0;bottom: 0;left: 0;margin: auto;position: fixed;z-index: 7758258;}
.cover-all {overflow: hidden;color: #000;font-weight: bold;transition: all .3s ease-in-out;-webkit-transition: all .3s ease-in-out;transform: scale(0);-webkit-transform: scale(0);}
.cover-body {background: #FFF;height: 100%;position: fixed;transform: scale(1);-webkit-transform: scale(1);top: 0;width: 100%;z-index: 999999;}
@media only screen and (max-width:768px){
	.windows8 {
		margin: 15% -10%;
	}
}
/*---end---*/

.text-color{
	color:#ff4800
}

.text-light{
	color:#bbb
}

.text-dark{
	color:#111
}

.text-white{
	color:#fff
}

.dropcap{
	float:left;
	color:#111;
	font-size:50px;
	line-height:50px;
	padding-right:8px;
	padding-left:3px
}

blockquote{
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-style:italic;
	font-weight:400;
	font-size:1.25em;
	padding:25px;
	background:#fafafa;
	border-left:5px solid #eee;
	margin-bottom:25px
}

blockquote small{
	display:block;
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-size:.75em;
	font-weight:400;
	font-style:normal
}

blockquote small:before{
	content:'\2014 \00A0'
}

q{
	quotes:"\"" "\"" """ """
}

q:before{
	content:'\201C'
}

q:after{
	content:'\201D'
}

button,input[type=submit]{
	-webkit-appearance:none
}

button::-moz-focus-inner,input::-moz-focus-inner{
	padding:0
}

input[type=submit]{
	border:0;
	width:auto
}

input::-moz-focus-inner{
	border:0;
	padding:0;
	margin-top:5px;
	margin-bottom:5px
}

.btn,button,input[type=submit]{
	display:inline-block;
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-size:13px;
	font-weight:700;
	letter-spacing:.08em;
	text-transform:uppercase;
	line-height:25px;
	padding:12px 25px;
	color:#fff;
	background:#111;
	text-decoration:none;
	-webkit-border-radius:0;
	border-radius:0;
}

a .icon:hover,a.btn:hover,button:hover,input[type=submit]:hover{
	color:#fff;
	background:#0FDD7A;
	text-decoration:none
}

a i:hover,button:hover,input[type=submit]:hover{
	cursor:pointer
}

.btn>i{
	font-size:14px;
	margin-right:.5em
}

.btn.outline{
	color:#111;
	background:0 0;
	border:2px solid #111;
	padding:4px 20px
}

a.btn.outline:hover,button.outline:hover,input[type=submit].outline:hover{
	color:#fff;
	background:#0fdd7a;
	border:2px solid #0fdd7a;
	border:2px solid #0fdd7a;
}

.btn.color{
	background:#ff4800
}

.btn.outline.color{
	color:#ff4800;
	background:0 0;
	border:2px solid #ff4800
}

.btn.light{
	color:#fff;
	background:#ccc;
	background:rgba(255,255,255,.3)
}

.btn.outline.light{
	color:#fff;
	background:0 0;
	border:2px solid #ccc;
	border:2px solid rgba(255,255,255,.3)
}

.btn.dark{
	color:#111;
	background:#aaa;
	background:rgba(17,17,17,.3)
}

.btn.outline.dark{
	color:#111;
	background:0 0;
	border:2px solid #aaa;
	border:2px solid rgba(17,17,17,.3)
}

.btn.white{
	color:#111;
	background:#fff
}

.btn.outline.white{
	color:#fff;
	background:0 0;
	border:2px solid #fff
}

.header{
	position:relative;
	display:block;
	width:100%;
	height:640px
}

.header.large{
	height:745px
}

.header.medium{
	height:480px
}

.header.small{
	height:320px
}

@media only screen and (max-width:768px){
	.header,.header.large{
		height:675px
	}

	.header.medium{
		height:320px
	}

}

.header-inner{
	position:absolute;
	top:32%;
	left:50%;
	-webkit-transform:translate(-50%,-50%);
	-moz-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	-o-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%);
	width:100%;
	max-width:740px;
	min-width:300px;
	text-align:center;
	z-index:60
}

.bg-img{
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center center
}

.title{
	text-align:center
}

.title h1,.title h2{
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-size:16px;
	font-weight:700;
	letter-spacing:.08em;
	text-transform:uppercase;
	line-height:25px;
	margin-bottom:15px
}

.title hr{
	display:inline-block;
	width:40px;
	height:2px;
	background:#ccc;
	margin-bottom:75px
}

.title.title-light h1,.title.title-light h3{
	color:#fff
}

.title.title-light hr{
	background:#555
}

.header hr{
	display:inline-block;
	width:40px;
	height:2px;
	background:#fff;
	filter:alpha(opacity=50);
	opacity:.5;
	margin-bottom:25px
}

a.underline{
	padding-bottom:1px;
	border-bottom:1px dotted #ccc
}

a.underline:hover{
	border-bottom:1px dotted #111
}

a.inverted:hover{
	color:#fff
}

a.inverted.underline{
	padding-bottom:1px;
	border-bottom:1px dotted #555
}

a.inverted.underline:hover{
	border-bottom:1px dotted #fff
}

a.arrow-link{
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-weight:700;
	letter-spacing:.08em;
	text-transform:uppercase;
	color:#111
}

a.arrow-link:before{
	font-family:FontAwesome;
	content:'\f054';
	color:#aaa;
	margin-right:7px;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}

a.arrow-link:hover,a.arrow-link:hover:before{
	color:#ff4800;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}

.oc-left,.oc-right{
	position:absolute;
	top:32%;
}

.oc-left{
	left:0;
	margin-left:-60px
}

.oc-right{
	right:0;
	margin-right:-60px
}


@media only screen and (max-width:1220px){
	.oc-left,.oc-right{
		top:100%;
	}

	.oc-left{
		left:50%;
		margin-left:-40px
	}

	.oc-right{
		right:50%;
		margin-right:-40px
	}

}

.oc-left i,.oc-right i{
	display:inline-block;
	width:60px;
	height:60px;
	line-height:60px;
	font-size:42px;
	text-align:center;
	color:#ccc
}

.oc-left i:hover,.oc-right i:hover{
	color:#aaa
}



@media only screen and (max-width:1220px){
	.oc-left i,.oc-right i{
		width:40px;
		height:40px;
		line-height:40px;
		font-size:28px
	}

}

.overlay-item{
	position:relative;
	color:#fff;	
	line-height:0;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}
.overlay-item img {
	border-radius: 50%;
	width: 100%;
}
.o-hover{
	position:absolute;
	border-radius: 50%;
	width:100%;
	height:100%;
	overflow:hidden;
	color:rgba(255,255,255,0);
	background:rgba(0,0,0,0);
	visibility:visible;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}

.overlay-item a:hover>.o-hover,.overlay-item:hover>.o-hover{
	color:rgba(255,255,255,1);
	background:rgba(0,0,0,.5);
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}

.o-hover span{
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-style:normal;
	font-size:13px;
	font-weight:700;
	letter-spacing:.08em;
	text-transform:uppercase;
	text-align:center;
	line-height:20px;
	display:inline-block;
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	transform:translate(-50%,-50%)
}

.o-hover em{
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-style:normal;
	font-size:13px;
	font-weight:400;
	letter-spacing:0;
	text-transform:none;
	color:rgba(255,255,255,0);
	display:inline-block;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}

.overlay-item a:hover>.o-hover em,.overlay-item:hover>.o-hover em{
	color:rgba(255,255,255,1);
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}

.o-hover i{
	font-size:14px;
	font-weight:400;
	letter-spacing:0;
	text-transform:none;
	color:rgba(255,255,255,0);
	display:inline-block;
	width:30px;
	height:30px;
	line-height:30px;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}

.overlay-item a:hover>.o-hover i,.overlay-item:hover>.o-hover i{
	color:rgba(255,255,255,1);
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}

.overlay-item a:hover>.o-hover i:hover,.overlay-item:hover>.o-hover i:hover{
	color:#111;
	background:#fff;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}

.o-hover i.fa-2x{
	font-size:2em
}

.overlay-item a:hover>.o-hover i.fa-2x:hover,.overlay-item:hover>.o-hover i.fa-2x:hover{
	color:#fff;
	background:0 0
}

.e-info{
	position:relative;
	display:block;
	background:none;
	padding:15px 15px 25px;
	text-align:center
}

.e-info h3{
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-style:normal;
	font-size:13px;
	font-weight:700;
	letter-spacing:.08em;
	text-transform:uppercase;
	line-height:20px;
	margin-bottom:0
}

.e-info p{
	color:#646473;
	line-height:20px;
	margin-bottom:0
}

.top-bar{
	position:fixed;
	top:0;
	display:block;
	width:100%;
	background:#111;
	background:rgba(7,7,7,.9);
	z-index:99;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}

.tb-logo{
	margin-left:20px
}

.tb-logo h1{
	float:left;
	text-align:left;
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-weight:normal;
	letter-spacing:.08em;
	text-transform:uppercase;
	line-height:50px;
	color:#fff;
	margin:auto 0;
}

.tb-logo h1 a{
	text-decoration:none;
	font-size: 30px;
}

.tb-logo h1 a:hover{
	color:#fff
}

.tb-logo img{
	float:left;
	text-align:left;
	width:auto;
	max-height:30px;
	margin:10px 10px 0 0
}

#toggle,.menu ul ul,.toggle{
	display:none
}

.menu ul li:hover>ul{
	display:block
}

.menu{
	float:right;
	text-align:left;
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-size:11px;
	font-weight:700;
	letter-spacing:.08em;
	text-transform:uppercase;
	line-height:25px
}

.menu ul{
	position:relative;
	display:table-cell;
	list-style:none
}

.menu ul:after{
	content:"";
	clear:both;
	display:block
}

.menu ul li{
	float:left;
	border-right:1px solid #1a1b1a; 
}

.menu ul li:hover a{
	color:#fff
}

.menu ul li a{
	display:block;
	padding:15px 20px;
	color:#777;
	text-decoration:none;
	font-size: 14px;
	font-weight:normal;
}

@media only screen and (max-width:1024px){
	.menu ul li a{
		padding:15px 10px
	}

}

.menu ul ul{
	position:absolute;
	top:100%;
	background:#111;
	background:rgba(7,7,7,.9);
	padding:0 0 10px;
	min-width:150px
}

.menu ul ul li{
	float:none;
	position:relative
}

.menu ul ul li a{
	padding:10px 20px;
	color:#777!important
}

.menu ul ul li a:hover{
	color:#fff!important
}

.menu ul ul ul{
	position:absolute;
	top:0;
	left:100%
}

@media only screen and (max-width:768px){
	.top-bar{
		padding-top:0
	}

	.toggle{
		display:block;
		position:relative;
		cursor:pointer;
		-webkit-touch-callout:none;
		-webkit-user-select:none;
		user-select:none;
		color:#777;
		float:right;
		font-family:FontAwesome;
		text-align:center;
		font-size:14px;
		width:50px;
		height:50px;
		line-height:50px;
		-webkit-transition:all .2s;
		-moz-transition:all .2s;
		-ms-transition:all .2s;
		-o-transition:all .2s;
		transition:all .2s
	}

	.toggle:hover{
		color:#fff;
		-webkit-transition:all .2s;
		-moz-transition:all .2s;
		-ms-transition:all .2s;
		-o-transition:all .2s;
		transition:all .2s
	}

	.toggle:after{
		content:'\f0c9'
	}

	#toggle:checked~.menu{
		display:block;
		filter:alpha(opacity=100);
		opacity:1
	}

	#toggle:checked+.toggle:after{
		content:'\f077'
	}

	.menu{
		display:none;
		filter:alpha(opacity=0);
		opacity:0;
		margin-top:50px;
		width:100%;
		position:absolute;
		right:0;
		height:auto;
		text-align:left;
		background:#111;
		background:rgba(7,7,7,.9);
		padding-bottom:10px;
		padding-left:30px
	}

	.menu ul li{
		display:block;
		width:100%;
		line-height:30px;
		margin:0
	}

	.menu ul li a{
		display:block;
		width:100%;
		padding:0
	}

	.menu ul ul{
		display:block;
		position:relative;
		top:0;
		background:0 0;
		padding:0
	}

	.menu ul ul li a{
		padding:0
	}

	.menu ul ul ul{
		position:relative;
		top:0;
		left:0
	}

}

@media only screen and (max-width:480px){
	.tb-logo{
		margin-left:5px
	}

	.toggle{
		margin-right:-10px
	}

	.menu{
		padding-left:15px
	}

}

.tb-transp .menu ul li a{
	color:#fff;
}

.tb-transp .menu ul li:hover a{
	color:#0FDD7A;
}

.top-bar .tb-transp{
	background:#111;
	background:rgba(7,7,7,.9)
}

@media only screen and (max-width:768px){
	.top-bar.tb-transp{
		background:#111;
		background:rgba(7,7,7,.9)
	}

}

.home{
	z-index:1
}

.topspace{
	padding-top:105px;
	background:#111
}

@media only screen and (max-width:768px){
	.topspace{
		padding-top:50px
	}

}

.about{
	background:#fff;
	padding-top:90px;
	padding-bottom:90px
}

.icon-nav{
	text-align:center;
	margin-bottom:25px
}

.icon-nav a{
	display:inline-block
}

.icon-nav i{
	display:block;
	margin:0 auto 0;
	width:100px;
	height:100px;
	line-height:100px;
	text-align:center;
	font-size:36px;
	color:#ccc;
	background:0 0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}

@media only screen and (max-width:768px){
	.icon-nav i{
		width:80px;
		height:80px;
		line-height:80px;
		font-size:24px;
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius:0;
	}

}

.icon-nav a:hover>i{
	color:#fff;
	background:#0fdd7a;
}

.icon-nav b{
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-style:normal;
	font-size:13px;
	font-weight:700;
	letter-spacing:.08em;
	text-transform:uppercase;
	line-height:20px;
	color:#111;
	display:block
}

.icon-nav em{
	font-style:normal;
	font-size:13px;
	font-weight:400;
	line-height:20px;
	color:#aaa;
	display:block
}

.product{
	background:#f4f4f4;
	padding-top:100px;
	padding-bottom:100px
}

.cta{
	padding-top:100px;
	padding-bottom:100px
}

.buyers{
	background:#fff;
	padding-top:100px;
	padding-bottom:100px
}

.service-item{
	position:relative;
	display:block;
	text-align:center;
	background:#fff;
	padding-bottom:35px
}

.service-item h3{
	font-family: "Source Sans Pro","Segoe UI","Droid Sans",Tahoma,Arial,sans-serif;
	font-style:normal;
	font-size:13px;
	font-weight:700;
	letter-spacing:.08em;
	text-transform:uppercase;
	line-height:20px;
	color:#111;
	margin-bottom:0
}

.service-item .subline{
	font-style:normal;
	font-size:13px;
	font-weight:400;
	line-height:20px;
	color:#aaa
}

.service-item .serif{
	color:#aaa
}

.service-item hr{
	display:inline-block;
	width:30px;
	height:2px;
	background:#ccc;
	margin-bottom:20px
}

.service-item ul{
	margin-bottom:25px
}

.service-item i{
	display:inline-block;
	width:80px;
	height:80px;
	line-height:80px;
	text-align:center;
	font-size:48px;
	color:#ccc;
	-webkit-border-radius:40px;
	-moz-border-radius:40px;
	border-radius:40px;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}

.service-item:hover>i{
	color:#0FDD7A;
	-webkit-transition:all .2s;
	-moz-transition:all .2s;
	-ms-transition:all .2s;
	-o-transition:all .2s;
	transition:all .2s
}

.service-item:hover>a.arrow-link:before{
	color:#0FDD7A
}

.buyers .oc-left,.buyers .oc-right{
	top:54px;
	margin-top:0
}

@media only screen and (max-width:1220px){
	.buyers .oc-left,.buyers .oc-right{
		top:100%;
		margin-top:20px
	}

}

.offline{
	background:#222;
	padding-top:90px;
	padding-bottom:90px
}

.icon-circle{
	display:block;
	text-align:center;
	margin-bottom:50px
}

.story{
	background:#fff;
	padding-top:80px;
	padding-bottom:65px
}

.bg-white{
	background:#fff
}

.bg-padding{
	padding:75px 20px
}

.qs-wrap p{
	color:#aaa
}

.qs-wrap{
	margin-top:2px
}

.qs-wrap .bx-wrapper .bx-pager{
	bottom:-25px
}

.qs-wrap .bx-wrapper .bx-pager.bx-default-pager a{
	border:1px solid #ccc;
	filter:alpha(opacity=100);
	opacity:1
}

.qs-wrap .bx-wrapper .bx-pager.bx-default-pager a.active,.qs-wrap .bx-wrapper .bx-pager.bx-default-pager a:hover{
	background:#ccc;
	filter:alpha(opacity=100);
	opacity:1
}

.about .oc-left,.about .oc-right{
	margin-top:-50px
}

@media only screen and (max-width:1220px){
	.about .oc-left,.about .oc-right{
		margin-top:20px
	}

}

.contact{
	background:#f4f4f4;
	padding-top:80px;
	padding-bottom:50px
}

.shop-a{
	cursor: pointer;
	text-decoration: underline;
}

.c-details a{
	color:#777;
	display:inline-block
}

.c-details a:hover,.c-details a:hover i{
	color:#0FDD7A
}

.c-details i{
	float:left;
	width:15px;
	line-height:25px;
	font-size:22px;
	text-align:center;
	color:#111
}

.c-details span{
	display:block;
	width:auto;
	margin-bottom:25px;
	margin-left:30px
}

.back-top-wrap{
	text-align:center;
	height:0;
	width: 100%;
	position: absolute;
	margin: -46px auto
}

.back-top{
	position:relative;
	top:-25px;
	display:inline-block;
	width:50px;
	height:50px;
	line-height:48px;
	text-align:center;
	font-size:14px;
	color:#fff;
	background:#0fdd7a;
	background:#0fdd7a;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
	z-index:2
}

.back-top:hover{
	background:#0fdd7a
}

.social-footer{
	background:#111;
	padding-top:55px;
	padding-bottom:0;
	text-align:center;
	border-bottom:1px solid #292929
}

.sf-icons{
	width:100%;
	position:relative;
	text-align:center;
	margin-bottom:25px
}

.sf-icons i{
	display:inline-block;
	width:40px;
	height:40px;
	line-height:40px;
	text-align:center;
	font-size:28px;
	color:#888;
	margin:10px
}

.sf-icons i:hover{
	color:#fff
}

.sf-icons p{
	margin-top:15px;
	margin-bottom:0
}

.footer{
	background:#111;
	padding-top:25px;
	padding-bottom:0;
	text-align:center
}

.footer-promo{
	display:none;
	background:#111;
	padding-bottom:60px;
	text-align:center
}

.promo-control{
	position:relative;
	top:-25px;
	text-align:center;
	height:0;
	width: 150px;
    cursor: pointer;
    margin: 0 auto;
}

.promo-control a{
	padding-top:10px;
	cursor:pointer;
	color:#333
}

.promo-control:hover{
	color:#fff
}

.fourofour,.fourofour .header{
	height:100%
}

.error-circle{
	display:inline-block;
	margin:0 auto;
	width:300px;
	height:300px;
	border-radius:150px;
	background:#fff;
	padding:25px
}

.error-circle h1{
	font-size:90px;
	line-height:1em;
	margin-top:30px;
	margin-bottom:15px
}

.error-circle h5{
	margin-bottom:15px
}

.error-circle hr{
	display:inline-block;
	width:40px;
	height:2px;
	background:#ccc;
	margin-bottom:10px
}

@media only screen and (max-width:768px){
	.title hr{
		margin-bottom:50px
	}

	.bg-padding{
		padding:50px 15px
	}

	.about,.contact,.cta,.offline,.buyers,.social-footer,.product{
		padding-top:75px;
		padding-bottom:75px
	}

	.offline,.social-footer{
		padding-top:75px;
		padding-bottom:0
	}

	.footer,.footer-promo{
		padding-bottom:40px
	}

	.section-slider{
		padding-top:75px;
		padding-bottom:100px
	}

}

@media only screen and (max-width:480px){
	.title hr{
		margin-bottom:25px
	}

	.bg-padding{
		padding:25px 10px
	}

	.about,.contact,.cta,.intro,.offline,.buyers,.product{
		padding-top:50px;
		padding-bottom:50px
	}

	.social-footer{
		padding-top:40px;
		padding-bottom:0px
	}

	.footer,.footer-promo{
		padding-bottom:25px
	}

	.section-slider{
		padding-top:50px;
		padding-bottom:90px
	}

	.error-circle{
		width:220px;
		height:220px;
		border-radius:110px;
		padding:15px
	}

	.error-circle h1{
		font-size:60px;
		line-height:1em;
		margin-top:25px;
		margin-bottom:10px
	}

	.error-circle h5{
		font-size:12px;
		margin-bottom:5px
	}

	.error-circle hr{
		display:inline-block;
		width:40px;
		height:2px;
		background:#ccc;
		margin-bottom:5px
	}

	.story_p {
    	margin: 10px 0 !important;
	}

}

.background-one{
	background-image:url('../images/bg-1.jpg')
}

.background-two{
	background-image:url('../images/bg-2.jpg')
}

.background-three{
	background-image:url('../images/bg-3.jpg')
}

.background-four{
	background-image:url('../images/bg-4.jpg')
}

.background-five{
	background-image:url('../images/bg-5.jpg')
}

.story_span{
    width: 86%;
    height: 90%;
	font-size: 12px;
}

.story_p{
	margin: 30px 0;
}

.story_a{
	color: orange;
    padding: 4px 10px;
    border:1px solid #fff;
}

.product_m{
	color: orange;
    padding: 4px 10px;
}

.filing{
	margin-bottom: 10px
}

.filing img:hover{
	background-color: #fff
}

.coupons-img{
	max-width:30%;display: initial;
}

@media screen and (min-width: 768px) {
.coupons-img{
	width:16%;
}
}

.scrollto img{
	width: 40px;
	background-color: #f4f4f4
}